LET US IMPORT OUR PACKAGES

In [ ]:
import pandas as pd 
import glob
from datetime import datetime

DOWNLOADING THE SOURCE FILE

In [ ]:
!wget https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Lab%20-%20Extract%20Transform%20Load/data/datasource.zip

--2022-07-20 15:17:34--  https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Lab%20-%20Extract%20Transform%20Load/data/datasource.zip
Resolving cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)... 169.45.118.108
Connecting to cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)|169.45.118.108|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 4249 (4.1K) [application/zip]
Saving to: ‘datasource.zip’

datasource.zip      100%[===================>]   4.15K  --.-KB/s    in 0s

2022-07-20 15:17:35 (361 MB/s) - ‘datasource.zip’ saved [4249/4249]

UNZIPPING THE SOURCE FILE

In [ ]:
!unzip datasource.zip

Archive:  datasource.zip
  inflating: used_car_prices1.csv
  inflating: used_car_prices2.csv
  inflating: used_car_prices3.csv
  inflating: used_car_prices1.json
  inflating: used_car_prices2.json
  inflating: used_car_prices3.json
  inflating: used_car_prices1.xml
  inflating: used_car_prices2.xml
  inflating: used_car_prices3.xml

Preview the Data

In [ ]:
csv = pd.read_csv("used_car_prices1.csv").head(2)
json = pd.read_json("used_car_prices1.json", lines=True).head(2)
xml = pd.read_xml("used_car_prices1.xml").head(2)
print(csv, "\n")
print(json, "\n")
print(xml)

  car_model  year_of_manufacture        price    fuel
0      ritz                 2014  5000.000000  Petrol
1       sx4                 2013  7089.552239  Diesel

  car_model  year_of_manufacture        price    fuel
0      ritz                 2012  4626.865672  Diesel
1      ritz                 2011  3507.462687  Petrol

       car_model  year_of_manufacture         price    fuel
0  corolla altis                 2013  10373.134328  Petrol
1    etios cross                 2015   6716.417910  Petrol

CREATE OUR DIRECTORIES

In [ ]:
tmpfile = "temp.tmp"
logfile = "log.txt"
targetfile = "transformed_data.csv"

E --> EXTRACT

In [ ]:
def extract_csv(file) :
    df = pd.read_csv(file)
    return df

def extract_json(file):
    df = pd.read_json(file, lines=True)
    return df 

def extract_xml(file):
    df = pd.read_xml(file)
    return df

In [ ]:
def extract():
    extracted_data = pd.DataFrame(columns = ["car_model", "year_of_manufacture", "price", "fuel"])

    for csvfile in glob.glob("*.csv") :
        extracted_data = extracted_data.append(extract_csv(csvfile), ignore_index = True)

    for jsonfile in glob.glob("*.json"):
        extracted_data = extracted_data.append(extract_json(jsonfile), ignore_index = True)

    for xmlfile in glob.glob("*.xml"):
        extracted_data = extracted_data.append(extract_xml(xmlfile), ignore_index = True)

    return extracted_data

T --> TRANSFORM

In [ ]:
# LET US ROUND THE PRICE COLUMN TO 2 DECIMAL PLACE

def transform(data) :
    data['price'] = round(data["price"], 2)

    return data

L --> **LOAD**  :
SINCE OUR DESIRED RESULT IS A CSVFILE , LET US CONVERT THE DATAFRAME TO A CSV FILE

In [ ]:
def load(targetfile, data_to_load):
    data_to_load.to_csv(targetfile)

LOGGING OUR PROGRESS IN REAL TIME

In [ ]:
def log(message) :
    timestamp_format = '%Y-%h-%d-%H:%M:%S'
    now = datetime.now()
    timenow = now.strftime(timestamp_format)
    with open("logfile.txt", "a") as f :
        f.write(timenow + " : " + message + "\n")

In [ ]:
log("ETL Job Started")

In [ ]:
log("Extract phase Started")
extracted_data = extract()
log("Extract phase Ended")
extracted_data

        car_model year_of_manufacture         price    fuel
0            ritz                2014   5000.000000  Petrol
1             sx4                2013   7089.552239  Diesel
2            ciaz                2017  10820.895522  Petrol
3         wagon r                2011   4253.731343  Petrol
4           swift                2014   6865.671642  Diesel
..            ...                 ...           ...     ...
85        etios g                2015   5895.522388  Petrol
86  corolla altis                2013   8208.955224  Petrol
87        corolla                2004   2238.805970  Petrol
88  corolla altis                2010   7835.820896  Petrol
89       fortuner                2012  21641.791045  Diesel

[90 rows x 4 columns]

In [ ]:
log("Transform phase Started")
transformed_data = transform(extracted_data)
log("Transform phase Ended")
transformed_data

        car_model year_of_manufacture     price    fuel
0            ritz                2014   5000.00  Petrol
1             sx4                2013   7089.55  Diesel
2            ciaz                2017  10820.90  Petrol
3         wagon r                2011   4253.73  Petrol
4           swift                2014   6865.67  Diesel
..            ...                 ...       ...     ...
85        etios g                2015   5895.52  Petrol
86  corolla altis                2013   8208.96  Petrol
87        corolla                2004   2238.81  Petrol
88  corolla altis                2010   7835.82  Petrol
89       fortuner                2012  21641.79  Diesel

[90 rows x 4 columns]

In [ ]:
log("Load phase Started")
loaded_data = load(targetfile,transformed_data )
log("Load phase Ended")

In [ ]:
log("ETL job Ended")