<a href="https://colab.research.google.com/github/therealfortune/Data-Engineering/blob/master/Extract_Table_From_URL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
!mamba install bs4==4.10.0 -y
!mamba install html5lib==1.1 -y

/bin/bash: mamba: command not found
/bin/bash: mamba: command not found

In [3]:
import requests 
import pandas as pd 
from bs4 import BeautifulSoup
import html5lib

In [4]:
url = "https://en.wikipedia.org/wiki/List_of_largest_banks"

r = requests.get(url)
html_data = r.text

In [7]:
html_data[101:124]

'List of largest banks -'

In [8]:
a = pd.read_html(url)
data = a[1]
data.head()

,Rank,Bank name,Total assets(2021)(US$ billion)
0,1,Industrial and Commercial Bank of China Limited,5866.00
1,2,China Construction Bank,4532.05
2,3,Agricultural Bank of China,4354.56
3,4,Bank of China,4113.36
4,5,JPMorgan Chase,"3,954.68[4]"