<a href="https://colab.research.google.com/github/therealfortune/Data-Engineering/blob/master/Opening_json.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [103]:
import pandas as pd
import requests
import json
from urllib.request import urlopen

FROM FILE

In [37]:
jj = pd.read_json("PT1H.json", lines = True)

In [38]:
jj.head()

,count,total,minimum,maximum,average,resourceId,time,metricName,timeGrain
0,1,0.00,0.00,0.00,0.00,/SUBSCRIPTIONS/E5250E15-0516-48F0-889B-DAE6C15...,2021-02-16T17:36:00.0000000Z,cpu_percent,PT1M
1,1,0.01,0.01,0.01,0.01,/SUBSCRIPTIONS/E5250E15-0516-48F0-889B-DAE6C15...,2021-02-16T17:37:00.0000000Z,cpu_percent,PT1M
2,1,0.00,0.00,0.00,0.00,/SUBSCRIPTIONS/E5250E15-0516-48F0-889B-DAE6C15...,2021-02-16T17:38:00.0000000Z,cpu_percent,PT1M
3,1,16.00,16.00,16.00,16.00,/SUBSCRIPTIONS/E5250E15-0516-48F0-889B-DAE6C15...,2021-02-16T17:36:00.0000000Z,memory_percent,PT1M
4,1,16.00,16.00,16.00,16.00,/SUBSCRIPTIONS/E5250E15-0516-48F0-889B-DAE6C15...,2021-02-16T17:37:00.0000000Z,memory_percent,PT1M

In [5]:
re = requests.get("https://raw.githubusercontent.com/phtelang/Causes-of-Death-in-New-York-City/master/NY_cause_of_death.json")

READING JSON FROM A URL

In [83]:
url = 'https://data.epa.gov/efservice/PUB_DIM_FACILITY/ROWS/0:10/JSON'

Using json_normalize and requests

In [97]:
json = requests.get(url).json()
df = pd.json_normalize(json)